@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background: #14273d;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-family: "Be Vietnam";
    /* overflow: hidden; */
}
/* .container-fluid{
    padding: 0px !important;
    margin: 0px;
} */
.navbar img{
    width: 200px;
}
/*hero section*/
.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1270px) {
    .hero-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero-section-content{
        display: flex;
        flex-direction: column;
        margin-left: 0px!important;
        justify-content: center;
        align-items: center;
    }
    .hero-section-content{
        margin-top: 50px;
        order:2;
    }
    .hero-section-content p{
        text-align: center!important;
    }
    .btn2{
        margin-top: 10px;
    }
    .social-media{
        transform: translateY(20px)!important;
    }
    .hero-section-img{
        order: 1;
    }
    .hero-section-img img{
        width: 250px!important;
        height: 100%;
    }
}

.hero-section-img img{
    width: 600px;
    height: 100%;
}
.hero-section-img .animated {
    animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
    /*alternate-reverse is used for smooth effect for both transitions up and down*/
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.hero-section-content{
    margin-left: 60px;
    margin-bottom: 50px;
    align-items: center;
}

.hero-section-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-content h1{
    font-weight: bold;
    font-size: 60px;
}
.hero-section-content h3{
    /* margin-top: -35px; */
    color: #4475e2;
}

.hero-section-content hr{
    width: 130px;
    margin-left: 0px;
    /* margin-top: -10px; */
}

.hero-section-content .btn{
    border: none;
    outline: none;
    padding: 15px 45px;
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform .3s;
}

.hero-section-content .btn:hover{
    transform: translateY(5px);
}

.hero-section-content .btn1{
    background-color: #17375b;
}

.hero-section-content .btn1:hover{
    background-color: #4475e2;
}

.hero-section-content .btn2{
    border: 2px solid #4475e2;
    margin-left: 10px;
    color: #4475e2;
}

.hero-section-content .btn2:hover{
    background: #4475e2;
    color: #fff;
}

.social-media{
    transform: translateY(50px) translateX(30px);
}

.social-media a{
    font-size: 35px;
    border: 2px solid #4475e2;
    color: #4475e2;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 30%;
    margin-left: 10px;
}

.social-media a:hover{
    background: #4475e2;
    color: #fff;
    transform: translateY(5px);

}

